<!doctype html>
<html class="no-js" lang="">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Saltedge test task</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<nav class="main-menu">
    <div class="container">
        <div class="col-lg-2 col-sm-9">
            <a href="/" class="logo"><span>App</span>Scope</a>
        </div>
        <div class="col-lg-10 col-sm-3">
            <ul class="menu">
                <li><a href="javascript:void(0);">Contacts</a></li>
                <li><a href="javascript:void(0);">Details</a></li>
                <li><a href="javascript:void(0);">About</a></li>
            </ul>
            <div class="mobile-menu-trigger"><i class="fas fa-bars"></i></div>
        </div>
    </div>
</nav>

<section class="main">
    <div class="container">
        <div class="col-lg-4 col-sm-12">
            <article>
                <h2>My Awesome App</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non orci sem.</p>
                <p>Nulla ut nisl laoreet dui hendrerit fermentum. Nam arcu tellus, placerat tristique urna non, egestas viverra dolor.</p>
                <p>Mauris a justo accumsan urna dapibus rhoncus sed eu arcu.</p>
            </article>
        </div>
        <div class="col-lg-1 col-sm-12">&nbsp;</div>
        <div class="col-lg-7 col-sm-12">
            <div class="slider" data-slide="slide3">
                <div class="frame-wrap">
                    <div class="shadow"></div>
                    <div class="slides">
                        <div class="slide" id="slide1"><img src="/static/img/screenshot1.png" alt=""></div>
                        <div class="slide" id="slide2"><img src="/static/img/screenshot2.png" alt=""></div>
                        <div class="slide" id="slide3"><img src="/static/img/screenshot3.png" alt=""></div>
                    </div>
                    <div class="device-frame"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="col-lg-4 col-sm-12">
            <div class="feature" data-target="slide1" data-action="change" data-action-body="Changed to Handy Feature">
                <i class="fas fa-american-sign-language-interpreting"></i>
                <h3>Handy Feature</h3>
                <p>Nulla ut nisl laoreet dui hendrerit fermentum. Nam arcu tellus, placerat tristique urna non, egestas viverra dolor.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="feature" data-target="slide2" data-action="change" data-action-body="Changed to Angry Feature">
                <i class="far fa-angry"></i>
                <h3>Angry Feature</h3>
                <p>Nulla ut nisl laoreet dui hendrerit fermentum. Nam arcu tellus, placerat tristique urna non, egestas viverra dolor.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="feature" data-target="slide3" data-action="change" data-action-body="Changed to Atomic Feature">
                <i class="fas fa-atom"></i>
                <h3>Atomic Feature</h3>
                <p>Nulla ut nisl laoreet dui hendrerit fermentum. Nam arcu tellus, placerat tristique urna non, egestas viverra dolor.</p>
            </div>
        </div>
    </div>
</section>

<section class="actions">

    <h2><span>Events Stats</span></h2>
    <div class="container">
        <div class="col-lg-4 col-sm-12">
            <h3>Views: <span data-action-stats="view">0</span></h3>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h3>Changes: <span data-action-stats="change">0</span></h3>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h3>Resizes: <span data-action-stats="resize">0</span></h3>
        </div>
    </div>

    <h2><span>Recent Actions</span></h2>
    <div class="container">
        <ul class="events col-lg-12 col-sm-12"></ul>
    </div>

</section>

<script src="/static/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
